<h1 style = "color:#FFFFFF">User</h1>

 
    <p style = "color:#FFFFFF">User Name: <%= @user.name %></p>

	<% if current_user == @user || admin_signed_in? %>
    <p style = "color:#FFFFFF">Email: <%= @user.email if @user.email %></p>
    <% end %>
