</br><p class="home">Who was Britain's favourite athlete of London 2012!</p></br>
<p class="explain">Find you favourite Team GB medallists from London 2012. Review their performances,
see what other people said, then vote for your favourites! </p></br>

<h4>Search for your favourite athlete</h4>

<%= render 'form' %>

<!--<%= link_to 'Back', searches_path %>-->
