<%if @search.athletes.count ==  0 %>
  <div>
    <p>Sorry, no matches for your search!</p>
  </div>
 <%else%>
   <h3>Matching Athletes:</h3>
   <% @search.athletes.each do |athlete| %>
    <div>
      <h4>Name: <%= link_to athlete.name, athlete %></h4>
      <h6>Sport: <%= athlete.sport %></h6>
    </div>
<%end%>
<%end%>

