// Place all the styles related to the Searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p.home {
    width: 800px;
    font-size: 24px;
    color: #282828;
    font-weight: bold;
}

p.explain {
    width: 600px;
    font-style: italic;
    color: #848484;
}

div.home_box {
position: relative;
width: 800px;
padding: 5px 10px;
height: 420px;
}

div.tweets {
position: relative;
float:right;
background-color: #E0E0E0;
font-size: 14px;
width: 320px;
padding: 10px 30px;
border: 2px solid #a1a1a1;
border-radius: 25px;
height: 380px;
}

div.tweet_text {
position: relative;
/*float:left;*/
background-color: #3399FF;
font-size: 10px;
width: 160px;
padding: 10px 20px;
border: 2px solid #a1a1a1;
border-radius: 25px;
}

div.search_box {
position: relative;
float:left;
background-color: #E0E0E0;
font-size: 20px;
width: 380px;
padding: 10px 30px;
border: 2px solid #a1a1a1;
border-radius: 25px;
height: 380px;
}